.container {
  max-width: 1440px;
  width: 80%;
  margin: auto;
}

section {
  padding-top: 40px;
  padding-bottom: 60px;
}

h1 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: #0B5B5A;
}

h2 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  color: #0B5B5A;
  margin-bottom: 20px; 
}

/* cabecalho */

header {
  height: 70px;
  background-color: #E7EFF0;
}

header > .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 100%;
}

img.logo {
  height: 18px;
}

nav > a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #0B5B5A;
}


/* Intro  */
section.intro {
  background-color: #FAE0D2;
}

section.intro > .container {
  display: grid;
  grid-template-areas: "foto descricao"
                       "frase frase";
}

img.perfil {
  width: 360px;
  height: 400px;
}

div.descricao {
  width: 556px;
}

.intro >* h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #0B5B5A;
  grid-column: 1 / -1;
  justify-self: center;
  width: 668px;
}

div.descricao > p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  color: #0B5B5A;
}

/* Experiência */
section.experiencia {
  background: #E7EFF0;
}

div.lista-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

p.data-experiencia {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #004847;
  justify-self: end;
  margin-top: 20px;
}

div.card-experiencia {
  background: #DAE9EA;
  border-radius: 3px;
  padding: 20px;
  grid-column-start: 2;
}

.card-experiencia > .titulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FF634D;
}
.card-experiencia > .subtitulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #0B5B5A;
}

.card-experiencia > ul {
  list-style: disc;
  list-style-position: inside;
}

.card-experiencia > ul > li {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004847;
}

/* Formação */
section.formacao {
  background: #FAE0D2;
}

div.lista-formacao {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin-bottom: 80px;
}

div.card-formacao {
  background: #CF422F;
  border-radius: 8px;
  width: 200px;
  height: 190px;
  padding: 20px;
  padding-top: 16px;
  position: relative;
  box-sizing: border-box;
}

.card-formacao > .titulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF3EC;
  margin-bottom: 10px;
}

.card-formacao > .curso {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  width: 140px;
}

.card-formacao *> .local {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF3EC;
}

.card-formacao *> .nota {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #F8B0A2;
}

.card-formacao > .rodape {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}

.lista-extensivo {
  display: grid;
  grid-template-columns: 24px max-content 40px;
  grid-template-rows: repeat(9, auto);
  gap: 10px;
  justify-content: end;
}

.lista-extensivo > img {
  grid-row-end: span 4;
}

.lista-extensivo > h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #004847;
  grid-column-end: span 2;
}

.lista-extensivo > p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004847;
}

.lista-extensivo > p.carga-horaria {
  justify-self: end;
}

.lista-extensivo > p > span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #CF422F;
  margin: 0 10px;
}

.lista-extensivo > .separador {
  grid-column-end: -1;
  height: 40px;
}

/* Produções */
section.producoes {
  background: #E7EFF0;
}

section.producoes *.destaque {
  color: #004847;
}

div.conteudo-producoes {
  display: grid;
  grid-template-areas: "insta producoes";
}

.ser-no-envelhecimento {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid #FFF3EC;
  margin-right: 20px;
  grid-area: insta;
}

div.ser-no-envelhecimento > p {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #208685;
}

.ser-no-envelhecimento > ul {
  list-style: disc;
  list-style-position: inside;
  margin: 40px 0;
}

.ser-no-envelhecimento > a {
  background: linear-gradient(180deg, #0B5B5A 0%, #004847 100%);
  box-shadow: 1px 1px 1px #004847;
  border-radius: 5px;
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF3EC;
  padding: 5px 10px;
  width: fit-content;
}

.ser-no-envelhecimento > img {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.ser-no-envelhecimento > ul > li {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004847;
}

.lista-producoes > p {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #208685;
  grid-area: producoes;
}


.lista-producoes > .card-producao {
  margin-top: 20px;
}

.card-producao {
  background: #DAE9EA;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.card-producao > img {
  position: absolute;
  left: -3px;
}

.card-producao > div:not(:last-child) {
  margin-bottom: 10px;
}

.card-producao > .cabecalho {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #208685;
  display: flex;
  justify-content: space-between;
}

.card-producao > .conteudo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #004847;
}

.card-producao > .rodape {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #208685;
  display: flex;
  justify-content: space-between;
}

.rodape > a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FF634D;
}

/* Rodapé */
footer {
  background: #004847;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer > * > h2 {
  color: #8ECACA;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo"
                        "mensagem email social"
                        "direitos _ creditos";
}

.footer > h2 {
  grid-area: titulo;
}

.footer > p {
  grid-area: mensagem;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #E7EFF0;
}

.footer > .email {
  grid-area: email;
  justify-self: self-end;
  display: flex;
  flex-direction: column;
}

.footer > .email > * {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #E7EFF0;
  margin-bottom: 20px;
}

.footer > .social {
  grid-area: social;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #E7EFF0;
  justify-self: self-end;
}

.social > img {
  margin-right: 10px;
}

.footer > .direitos {
  grid-area: direitos;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #8ECACA;
  margin-top: 80px;
}

.footer > .creditos {
  grid-area: creditos;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #8ECACA;
  align-self: end;
  justify-self: self-end;
}

@media (max-width: 760px) {
  .container {
    width: 90%;
    margin: auto;
  }

  nav {
    display: none;
  }  

  h1 {
    font-size: 48px;
    line-height: 52px;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
  }

  section.intro > .container {
    display: grid;
    grid-template-areas:  "foto"
                          "descricao"
                          "frase";
  }

  .intro >* h3 {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }

  div.descricao {
    width: 100%;
  }

  div.descricao > p {
    font-size: 18px;
    line-height: 36px;
  }

  img.perfil {
    width: 180px;
    height: 200px;
  }

  div.lista-experiencia {
    grid-template-columns: 1fr;
    row-gap: 5px;
  }

  div.card-experiencia {
    grid-column-start: 1;
  }

  div.lista-formacao {
    flex-direction: column;
    margin-bottom: 40px;
  }

  div.card-formacao {
    width: 100%;
    height: 150px;
  }

  .lista-extensivo {
    grid-template-columns: 24px 1fr 40px;
  }

  .lista-extensivo > .separador {
    height: 20px;
  }

  .card-formacao > .curso {
    width: 100%;
  }

  div.conteudo-producoes {
    grid-template-areas: "producoes" "insta";
  }

  .ser-no-envelhecimento {
    margin-top: 20px;
  }

  .ser-no-envelhecimento > ul {
    margin: 20px 0;
  }

  .ser-no-envelhecimento > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                         "mensagem"
                         "email"
                         "social"
                         "direitos"
                         "creditos";
  }

  .footer > p {
    text-align: center;
  }

  .footer > .email {
    margin-top: 20px;
  }

  .footer > .email, .footer > .social, .footer > .direitos, .footer > .creditos { 
    justify-self: center;
  }
}

