.container {
  max-width: 1440px;
  width: 80%;
  margin: auto;
}
header {
  height: 70px;
  background-color: #E7EFF0;
}

header > .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 100%;
}

img.logo {
  height: 18px;
}

nav > a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #0B5B5A;
}


/* Intro  */
section.intro {
  background-color: #FAE0D2;
  padding-top: 60px;
  padding-bottom: 60px;
}

section.intro > .container {
  display: grid;
  grid-template-areas: "foto descricao"
                       "frase frase";
}

img.perfil {
  width: 360px;
  height: 400px;
}

div.descricao {
  width: 556px;
}

.descricao > h1 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: #0B5B5A;
}

.intro >* h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #0B5B5A;
  grid-column: 1 / -1;
  justify-self: center;
  width: 668px;
}

div.descricao > p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  color: #0B5B5A;
}

/* Experiência */
section.experiencia {
  background: #E7EFF0;
  padding-top: 40px;
  padding-bottom: 60px;
}

div.lista-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

p.data-experiencia {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #004847;
  justify-self: end;
  margin-top: 20px;
}

div.card-experiencia {
  background: #DAE9EA;
  border-radius: 3px;
  padding: 20px;
  grid-column-start: 2;
}

.card-experiencia > .titulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FF634D;
}
.card-experiencia > .subtitulo {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #0B5B5A;
}

.card-experiencia > ul {
  list-style: disc;
  list-style-position: inside;
}

.card-experiencia > ul > li {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #004847;
}

h2 {
  font-family: 'Alegreya', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  color: #0B5B5A;
}